@import url("https://use.typekit.net/kbi5yjx.css");

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "obviously", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 64px;
    font-weight: bold;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.divBox {
    background-color: black;
    border: 1px solid white;
}

.canvas-container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.tools-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.monochrom-black button {
    background-color: black;
}

.monochrom-white button {
    background-color: white;
}

.colorpicker button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 2px solid black;
}

.color button {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    transform: rotate(-45deg);
}

.buttonIsSelected {
    -webkit-animation: pulsate-fwd 2s ease-in-out infinite both;
    animation: pulsate-fwd 2s ease-in-out infinite both;
}

.color-icon {
    width: 100%;
    height: 100%
}

.c1 {
    background-color: #FFBE0B;
}

.c2 {
    background-color: #FB5607;
}

.c3 {
    background-color: #FF006E;
}

.c4 {
    background-color: #8338EC;
}

.c5 {
    background-color: #3A86FF;
}

.redrawCanvasButton {
    background-color: white;
    transition-duration: 0.4s;
    border: 2px solid black;
    border-radius: 50%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 25%;
}

.redrawCanvasButton:hover {
    background-color: black;
    color: white;
}

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
