body{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.divBox{
    background-color: black;
    border: 1px solid white;
}

.main-container{
    width: 500px;
    height:500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.redrawCanvasButton{
    width: 100px;
    height: 30px;
}
